In [79]:
import pandas as pd
import numpy as np
from pandas import DataFrame, read_csv
# Import the standard libraries for the data preprocessing

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
df = read_csv('URGENCIAS.txt', sep='|', index_col=['ID'])

In [3]:

df.tail()

,CLUES,fechaalta,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,MUNRESIDENCIA,DERHAB,TIPOURGENCIA,MOTATE,...,MP,AFECPRIN,IRA,PLANEDA,SOBRESEDA,fechaingreso,HORASESTANCIA,MES_ESTADISTICO,hora_ingreso,hora_alta
ID,,,,,,,,,,,,,,,,,,,,,
7074267,DFSSA004026,2022-01-08,86,5,2,99,998,99,2,2,...,8,U071,8,8,NaN,2022-01-08,99:99,1,99:99,99:99
7074268,DFSSA004026,2022-01-08,11,5,1,99,998,99,2,2,...,8,J46X,8,8,NaN,2022-01-08,99:99,1,99:99,99:99
7074269,DFSSA004026,2022-01-08,30,5,1,99,998,99,2,2,...,8,U072,8,8,NaN,2022-01-08,99:99,1,99:99,99:99
7074270,DFSSA004026,2022-01-09,26,5,2,99,998,99,2,2,...,8,U072,8,8,NaN,2022-01-09,99:99,1,99:99,99:99
7074271,DFSSA004026,2022-01-09,28,5,2,99,998,99,2,2,...,8,U072,8,8,NaN,2022-01-09,99:99,1,99:99,99:99

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7074271 entries, 1 to 7074271
Data columns (total 22 columns):
 #   Column           Dtype
---  ------           -----
 0   CLUES            object
 1   fechaalta        object
 2   EDAD             int64
 3   CVEEDAD          int64
 4   SEXO             int64
 5   ENTRESIDENCIA    int64
 6   MUNRESIDENCIA    int64
 7   DERHAB           object
 8   TIPOURGENCIA     int64
 9   MOTATE           int64
 10  TIPOCAMA         int64
 11  ENVIADOA         int64
 12  MP               int64
 13  AFECPRIN         object
 14  IRA              int64
 15  PLANEDA          object
 16  SOBRESEDA        float64
 17  fechaingreso     object
 18  HORASESTANCIA    object
 19  MES_ESTADISTICO  int64
 20  hora_ingreso     object
 21  hora_alta        object
dtypes: float64(1), int64(12), object(9)
memory usage: 1.2+ GB

In [5]:
df.describe()

,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,MUNRESIDENCIA,TIPOURGENCIA,MOTATE,TIPOCAMA,ENVIADOA,MP,IRA,SOBRESEDA,MES_ESTADISTICO
count,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,7.074271e+06,69694.000000,7.074271e+06
mean,3.696580e+01,4.979300e+00,1.637430e+00,1.806222e+01,1.039066e+02,1.685357e+00,2.381992e+00,3.115970e+00,3.390392e+00,7.981585e+00,7.728220e+00,2.612047,6.739933e+00
std,8.273697e+01,4.216177e-01,4.818178e-01,1.514540e+01,2.358963e+02,4.643736e-01,9.883304e-01,2.018668e+00,1.219035e+00,3.420143e-01,1.328623e+00,1.266553,3.386046e+00
min,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000,1.000000e+00
25%,1.700000e+01,5.000000e+00,1.000000e+00,1.000000e+01,1.000000e+01,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,8.000000e+00,8.000000e+00,2.000000,4.000000e+00
50%,2.600000e+01,5.000000e+00,2.000000e+00,1.500000e+01,3.000000e+01,2.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,8.000000e+00,8.000000e+00,3.000000,7.000000e+00
75%,4.300000e+01,5.000000e+00,2.000000e+00,2.400000e+01,7.600000e+01,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,8.000000e+00,8.000000e+00,3.000000,1.000000e+01
max,9.990000e+02,9.000000e+00,3.000000e+00,9.900000e+01,9.990000e+02,2.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,8.000000e+00,8.000000e+00,20.000000,1.200000e+01

In [6]:
df.isna().sum()/len(df)*100

CLUES               0.000000
fechaalta           0.000000
EDAD                0.000000
CVEEDAD             0.000000
SEXO                0.000000
ENTRESIDENCIA       0.000000
MUNRESIDENCIA       0.000000
DERHAB              0.000000
TIPOURGENCIA        0.000000
MOTATE              0.000000
TIPOCAMA            0.000000
ENVIADOA            0.000000
MP                  0.000000
AFECPRIN            0.000000
IRA                 0.000000
PLANEDA             0.000000
SOBRESEDA          99.014824
fechaingreso        0.000000
HORASESTANCIA       0.000000
MES_ESTADISTICO     0.000000
hora_ingreso        0.000000
hora_alta           0.000000
dtype: float64

In [80]:
#SOBRESEDA 99% de NULL, la vamos a eliminar
df = df.drop(['SOBRESEDA'], axis=1)

In [7]:
df.describe().style.background_gradient(cmap='RdYlBu')

In [81]:
#Cargamos Data Set de Catalogo
dfCat = read_csv('CAT_CIE_10_2021.csv')

In [11]:
dfCat.head()

,CONSECUTIVO,LETRA,CLAVE,NOMBRE,CODIGOX,LSEX,LINF,LSUP,TRIVIAL,ERRADICADO,...,DESCRIPCION_MM_SUBGRUPO,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82
0,1,"A""",A00,"CÓLERA""","NO""","NO""","NO""","NO""","NO""","NO""",...,"NO""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"A""",A000,CÓLERA DEBIDO A VIBRIO CHOLERAE 01,"BIOTIPO CHOLERAE""","NO""","NO""","NO""","NO""","NO""",...,"NO""","NO""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"A""",A001,CÓLERA DEBIDO A VIBRIO CHOLERAE 01,"BIOTIPO EL TOR""","NO""","NO""","NO""","NO""","NO""",...,"NO""","NO""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"A""",A009,CÓLERA,"NO ESPECIFICADO""","NO""","NO""","NO""","NO""","NO""",...,"NO""","NO""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"A""",A01,"FIEBRES TIFOIDEA Y PARATIFOIDEA""","NO""","NO""","NO""","NO""","NO""","NO""",...,"NO""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#Extraemos claves del Catalogo
dfCat_subset = dfCat[['CLAVE', 'NOMBRE']]

#Lo usamos para Mapear el dataset principal
df['AFECPRIN'] = df['AFECPRIN'].map(dfCat_subset.set_index('CLAVE')['NOMBRE'])

df.head()

,CLUES,fechaalta,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,MUNRESIDENCIA,DERHAB,TIPOURGENCIA,MOTATE,...,ENVIADOA,MP,AFECPRIN,IRA,PLANEDA,fechaingreso,HORASESTANCIA,MES_ESTADISTICO,hora_ingreso,hora_alta
ID,,,,,,,,,,,,,,,,,,,,,
1,TSSSA003732,2022-10-25,7,5,1,28,22,11,2,2,...,4,8,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,8,8,2022-10-25,000:13,10,13:37,13:50
2,ZSSSA013172,2022-11-08,22,5,2,0,999,0,1,1,...,2,8,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",8,8,2022-11-07,012:40,11,19:40,08:20
3,ZSSSA001016,2022-11-05,10,4,2,32,36,0,1,2,...,4,8,FARINGITIS AGUDA,2,8,2022-11-05,000:15,11,15:15,15:30
4,ZSSSA000695,2022-10-26,17,5,1,32,22,0,2,2,...,4,8,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,8,8,2022-10-26,000:54,10,10:30,11:24
5,ZSSSA000572,2022-11-02,18,5,2,32,19,11,2,2,...,4,8,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",8,8,2022-11-02,000:29,11,06:41,07:10

In [83]:
dfCat = read_csv('CATENTIDADRES.csv')
dfCat.head()

   EDO              DESCRIP
0    0      NO ESPECIFICADO
1    1       AGUASCALIENTES
2    2      BAJA CALIFORNIA
3    3  BAJA CALIFORNIA SUR
4    4             CAMPECHE

In [84]:
#Extraemos claves del Catalogo de Entidades
dfCat_subset = dfCat[['EDO', 'DESCRIP']]

#Lo usamos para Mapear el dataset principal
df['ENTRESIDENCIA'] = df['ENTRESIDENCIA'].map(dfCat_subset.set_index('EDO')['DESCRIP'])
df.head()

,CLUES,fechaalta,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,MUNRESIDENCIA,DERHAB,TIPOURGENCIA,MOTATE,...,ENVIADOA,MP,AFECPRIN,IRA,PLANEDA,fechaingreso,HORASESTANCIA,MES_ESTADISTICO,hora_ingreso,hora_alta
ID,,,,,,,,,,,,,,,,,,,,,
1,TSSSA003732,2022-10-25,7,5,1,TAMAULIPAS,22,11,2,2,...,4,8,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,8,8,2022-10-25,000:13,10,13:37,13:50
2,ZSSSA013172,2022-11-08,22,5,2,NO ESPECIFICADO,999,0,1,1,...,2,8,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",8,8,2022-11-07,012:40,11,19:40,08:20
3,ZSSSA001016,2022-11-05,10,4,2,ZACATECAS,36,0,1,2,...,4,8,FARINGITIS AGUDA,2,8,2022-11-05,000:15,11,15:15,15:30
4,ZSSSA000695,2022-10-26,17,5,1,ZACATECAS,22,0,2,2,...,4,8,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,8,8,2022-10-26,000:54,10,10:30,11:24
5,ZSSSA000572,2022-11-02,18,5,2,ZACATECAS,19,11,2,2,...,4,8,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",8,8,2022-11-02,000:29,11,06:41,07:10

In [21]:
df.head()

,CLUES,fechaalta,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,MUNRESIDENCIA,DERHAB,TIPOURGENCIA,MOTATE,...,ENVIADOA,MP,AFECPRIN,IRA,PLANEDA,fechaingreso,HORASESTANCIA,MES_ESTADISTICO,hora_ingreso,hora_alta
ID,,,,,,,,,,,,,,,,,,,,,
1,TSSSA003732,2022-10-25,7,5,1,TAMAULIPAS,22,11,2,2,...,4,8,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,8,8,2022-10-25,000:13,10,13:37,13:50
2,ZSSSA013172,2022-11-08,22,5,2,NO ESPECIFICADO,999,0,1,1,...,2,8,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",8,8,2022-11-07,012:40,11,19:40,08:20
3,ZSSSA001016,2022-11-05,10,4,2,ZACATECAS,36,0,1,2,...,4,8,FARINGITIS AGUDA,2,8,2022-11-05,000:15,11,15:15,15:30
4,ZSSSA000695,2022-10-26,17,5,1,ZACATECAS,22,0,2,2,...,4,8,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,8,8,2022-10-26,000:54,10,10:30,11:24
5,ZSSSA000572,2022-11-02,18,5,2,ZACATECAS,19,11,2,2,...,4,8,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",8,8,2022-11-02,000:29,11,06:41,07:10

In [102]:
dfUrgencia = read_csv('PROCEDIMIENTOS.txt', sep='|')

In [103]:
dfUrgencia.head()

   ID        CLUES   FECHAALTA  NUMPROMED PROMED TIPO
0   4  ZSSSA000695  2022-10-26          1   8907    D
1   6  SPSSA002992  2022-01-06          1   8904    D
2   7  TSSSA000092  2022-05-17          1   9929    T
3   7  TSSSA000092  2022-05-17          2   9921    T
4  13  SPSSA001102  2022-01-13          1   9199    D

In [86]:
dfCat = read_csv('CATTIPOPROCED.csv')

In [45]:
dfCat.head()

  IDTipoProced    TipoProced
0            D  DIAGNOSTICOS
1            Q   QUIRURGICOS
2            T  TERAPEUTICOS
3            F        MIXTOS

In [52]:
#Extraemos claves del Catalogo de Procedimiento
dfCat_subset = dfCat[['IDTipoProced', 'TipoProced']]

dfUrgencia['TIPO'] = dfUrgencia['TIPO'].map(dfCat_subset.set_index('IDTipoProced')['TipoProced'])
dfUrgencia.head()

   ID        CLUES   FECHAALTA  NUMPROMED PROMED          TIPO
0   4  ZSSSA000695  2022-10-26          1   8907  DIAGNOSTICOS
1   6  SPSSA002992  2022-01-06          1   8904  DIAGNOSTICOS
2   7  TSSSA000092  2022-05-17          1   9929  TERAPEUTICOS
3   7  TSSSA000092  2022-05-17          2   9921  TERAPEUTICOS
4  13  SPSSA001102  2022-01-13          1   9199  DIAGNOSTICOS

In [58]:
dfUrgencia['PROMED'] = dfUrgencia['PROMED'].drop_duplicates()

In [60]:
dfUrgencia = dfUrgencia.dropna()

In [62]:
dfUrgencia

              ID        CLUES   FECHAALTA  NUMPROMED PROMED          TIPO
0              4  ZSSSA000695  2022-10-26          1   8907  DIAGNOSTICOS
1              6  SPSSA002992  2022-01-06          1   8904  DIAGNOSTICOS
2              7  TSSSA000092  2022-05-17          1   9929  TERAPEUTICOS
3              7  TSSSA000092  2022-05-17          2   9921  TERAPEUTICOS
4             13  SPSSA001102  2022-01-13          1   9199  DIAGNOSTICOS
...          ...          ...         ...        ...    ...           ...
4159777  7014009  PLSSA002106  2022-04-10          2   00C8  TERAPEUTICOS
4161302  7017666  PLSSA002490  2022-05-01          2   9143  DIAGNOSTICOS
4173049  7039897  PLSSA008881  2022-05-20          1   244X   QUIRURGICOS
4177688  7049759  PLSSA016806  2022-01-12          1   3887   QUIRURGICOS
4178088  7050762  PLSSA016806  2022-05-26          1   8784  DIAGNOSTICOS

[2265 rows x 6 columns]

In [87]:
#Se eliminan más columnas no utilizadas en el análisis
df = df.drop(['CLUES', 'DERHAB', 'MUNRESIDENCIA', 'HORASESTANCIA', 'TIPOCAMA', 'MP', 'PLANEDA', 'IRA', 'hora_ingreso', 'hora_alta'], axis=1)

In [88]:
dfCat = read_csv('CATSEXO.csv')
dfCat

   IdSexo          Descrip
0       0  NO ESPECIFICADO
1       1        MASCULINO
2       2         FEMENINO
3       3      INTERSEXUAL
4       9        SE IGNORA

In [89]:
#Extraemos claves del Catalogo de Entidades
dfCat_subset = dfCat[['IdSexo', 'Descrip']]

#Lo usamos para Mapear el dataset principal
df['SEXO'] = df['SEXO'].map(dfCat_subset.set_index('IdSexo')['Descrip'])
df.head()

,fechaalta,EDAD,CVEEDAD,SEXO,ENTRESIDENCIA,TIPOURGENCIA,MOTATE,ENVIADOA,AFECPRIN,fechaingreso,MES_ESTADISTICO
ID,,,,,,,,,,,
1,2022-10-25,7,5,MASCULINO,TAMAULIPAS,2,2,4,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,2022-10-25,10
2,2022-11-08,22,5,FEMENINO,NO ESPECIFICADO,1,1,2,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",2022-11-07,11
3,2022-11-05,10,4,FEMENINO,ZACATECAS,1,2,4,FARINGITIS AGUDA,2022-11-05,11
4,2022-10-26,17,5,MASCULINO,ZACATECAS,2,2,4,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,2022-10-26,10
5,2022-11-02,18,5,FEMENINO,ZACATECAS,2,2,4,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",2022-11-02,11

In [93]:
#Nos quedamos unicamente con los pacientes cuya edad está en años
df = df[df.CVEEDAD == 5]
df = df.drop(['CVEEDAD'], axis=1)

In [95]:
dfCat = read_csv('CatMotAtencionUrg.csv')
dfCat.head()

   IDMotAte                                 Descrip
0         1  ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA
1         2                                  MÉDICA
2         3                       GINECO-OBSTÉTRICA
3         4                              PEDIÁTRICA
4         9                         NO ESPECIFICADO

In [96]:
#Extraemos claves del Catalogo de Motivo de Atención
dfCat_subset = dfCat[['IDMotAte', 'Descrip']]

#Lo usamos para Mapear el dataset principal
df['MOTATE'] = df['MOTATE'].map(dfCat_subset.set_index('IDMotAte')['Descrip'])
df.head()

,fechaalta,EDAD,SEXO,ENTRESIDENCIA,TIPOURGENCIA,MOTATE,ENVIADOA,AFECPRIN,fechaingreso,MES_ESTADISTICO
ID,,,,,,,,,,
1,2022-10-25,7,MASCULINO,TAMAULIPAS,2,MÉDICA,4,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,2022-10-25,10
2,2022-11-08,22,FEMENINO,NO ESPECIFICADO,1,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",2,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",2022-11-07,11
4,2022-10-26,17,MASCULINO,ZACATECAS,2,MÉDICA,4,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,2022-10-26,10
5,2022-11-02,18,FEMENINO,ZACATECAS,2,MÉDICA,4,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",2022-11-02,11
6,2022-01-06,5,MASCULINO,SAN LUIS POTOSI,2,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",4,TRAUMATISMO DE LA CABEZA,2022-01-06,1

In [97]:
dfCat = read_csv('CatTipoUrgencia.csv')
dfCat.head()

   IdTipoUrgencia                 Descrip
0               1     URGENCIA CALIFICADA
1               2  URGENCIA NO CALIFICADA
2               9         NO ESPECIFICADO

In [98]:
#Extraemos claves del Catalogo de Tipo de Urgencia
dfCat_subset = dfCat[['IdTipoUrgencia', 'Descrip']]

#Lo usamos para Mapear el dataset principal
df['TIPOURGENCIA'] = df['TIPOURGENCIA'].map(dfCat_subset.set_index('IdTipoUrgencia')['Descrip'])
df.head()

,fechaalta,EDAD,SEXO,ENTRESIDENCIA,TIPOURGENCIA,MOTATE,ENVIADOA,AFECPRIN,fechaingreso,MES_ESTADISTICO
ID,,,,,,,,,,
1,2022-10-25,7,MASCULINO,TAMAULIPAS,URGENCIA NO CALIFICADA,MÉDICA,4,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,2022-10-25,10
2,2022-11-08,22,FEMENINO,NO ESPECIFICADO,URGENCIA CALIFICADA,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",2,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",2022-11-07,11
4,2022-10-26,17,MASCULINO,ZACATECAS,URGENCIA NO CALIFICADA,MÉDICA,4,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,2022-10-26,10
5,2022-11-02,18,FEMENINO,ZACATECAS,URGENCIA NO CALIFICADA,MÉDICA,4,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",2022-11-02,11
6,2022-01-06,5,MASCULINO,SAN LUIS POTOSI,URGENCIA NO CALIFICADA,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",4,TRAUMATISMO DE LA CABEZA,2022-01-06,1

In [100]:
dfCat = read_csv('CatEnviado.csv')
dfCat.head()

   IDEnviado                 Descrip
0          1         HOSPITALIZACIÓN
1          2        CONSULTA EXTERNA
2          3  TRASLADO A OTRA UNIDAD
3          4               DOMICILIO
4          5      SALE POR DEFUNCIÓN

In [101]:
#Extraemos claves del Catalogo de Tipo de Urgencia
dfCat_subset = dfCat[['IDEnviado', 'Descrip']]

#Lo usamos para Mapear el dataset principal
df['ENVIADOA'] = df['ENVIADOA'].map(dfCat_subset.set_index('IDEnviado')['Descrip'])
df.head()

,fechaalta,EDAD,SEXO,ENTRESIDENCIA,TIPOURGENCIA,MOTATE,ENVIADOA,AFECPRIN,fechaingreso,MES_ESTADISTICO
ID,,,,,,,,,,
1,2022-10-25,7,MASCULINO,TAMAULIPAS,URGENCIA NO CALIFICADA,MÉDICA,DOMICILIO,GASTROENTERITIS Y COLITIS DE ORIGEN NO ESPECIF...,2022-10-25,10
2,2022-11-08,22,FEMENINO,NO ESPECIFICADO,URGENCIA CALIFICADA,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",CONSULTA EXTERNA,"DOLOR ABDOMINAL LOCALIZADO EN PARTE SUPERIOR""",2022-11-07,11
4,2022-10-26,17,MASCULINO,ZACATECAS,URGENCIA NO CALIFICADA,MÉDICA,DOMICILIO,CONTUSIÓN DE OTRAS PARTES DE LA MUÑECA Y DE LA...,2022-10-26,10
5,2022-11-02,18,FEMENINO,ZACATECAS,URGENCIA NO CALIFICADA,MÉDICA,DOMICILIO,"SUPERVISIÓN DE EMBARAZO NORMAL NO ESPECIFICADO""",2022-11-02,11
6,2022-01-06,5,MASCULINO,SAN LUIS POTOSI,URGENCIA NO CALIFICADA,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIA",DOMICILIO,TRAUMATISMO DE LA CABEZA,2022-01-06,1

In [104]:
df.to_csv('DataSetLimpio.csv')